 <div class='text-center'>
  <h2>{{name}}</h2>
  <h2>Edit Post</h2>
  <p>Title:</p>

  <textarea
    name='postTitle'
    id='postTitle'
    cols='30'
    rows='1'
  >{{name}}</textarea>
  <p class='p-content'>Content:</p>
  <textarea
    type='text'
    name='postContent'
    id='postContent'
  >{{description}}</textarea>

  <p>Hey {{user.name}}! You posted this on: {{format_date date_created}}</p>
  <p>
    <button
      id='update-post'
      onclick='updatePost()'
      class='btn btn-primary'
      data-id='{{id}}'
    >Update Post</button>
  </p>
  {{!-- <div class='display-flex justify-center col-md-12'>

    <button
      id='delete-button'
      class='btn btn-sm btn-danger'
      data-id='{{id}}'
    >DELETE</button>

  </div> --}}
</div> 


  



 <script>
  async function updatePost(){
  const id = document.getElementById('update-post').dataset.id
  const title = document.querySelector('#postTitle').value.trim();
  const body = document.querySelector('#postContent').value.trim();
  
const response = await fetch(`/projectUpdate/${id}`, {
      method: 'POST',
      body: JSON.stringify({ title, body }),
      headers: { 'Content-Type': 'application/json' },
    });

    if (response.ok) {
      document.location.replace('/profile');
    } else {
      alert(response.statusText);
    }
  }
</script> 

<script src='./js/profile.js'></script> 







{{!-- <h2 class='your-dashboard'>Your Dashboard</h2>

<div class='display-flex justify-center row mt-4'>
  <div class='hide col-md-6'>
    <h3>Create New Post:</h3>

    <form class='form new-project-form'>
      <div class='form-group'>
        <label for='project-name'>Title</label>
        <input
          class='form-input'
          type='text'
          id='project-name'
          name='project-name'
        />
      </div>

      <div class='form-group'>
        <label for='project-desc'>Content:</label>
        <textarea
          class='form-input'
          id='project-desc'
          name='project-desc'
        ></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
    <div class='shown col-md-6 project-list'>
      <h3>Your Posts:</h3>

      {{#each projects as |project|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h4><a
                href='/projectUpdate/{{project.id}}'
              >{{project.name}}</a></h4>
          </div>
          <div class='col-md-4'>
            <button
              class='btn btn-sm btn-danger'
              data-id='{{project.id}}'
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

</div>

<div class='new-post'>
  <button class='new-post-button'>+ New Post</button>
</div>
<script src='./js/profile.js'></script> --}}